:root{
    --accent-color: #5F00FF;
    --primary-color: #000000;
    --secondary-color: #1E1E1E;
    --background-color: #F7F2FF;
    /* #F7F2FF or purlper #F4EDFF*/

    --padding-horizontal: 76px;
    --padding-vertical: 32px;
}
body{
    width: 100%;
    margin: 0;
    padding: 0;

    background-color: var(--background-color);
    font-family: 'Manrope';

    overflow-x: hidden;
    overflow-y: scroll;
}
*{
    box-sizing: border-box;
}


h1, h2, h3, h4, h5, p{
    margin: 0;
}
a{
    text-decoration: none;
}
img{
    user-select: none;
    -webkit-user-drag: none;
}


header{
    position: fixed;
    z-index: 100;

    display: flex;
    justify-content: space-between;

    width: calc(100% - 68px - 68px);
    height: 64px;
    margin: 0 68px;
    margin-top: 24px;
    padding: 8px;

    border-radius: 32px;
    
    transition: margin 0.3s, width 0.3s;

    .link-wr{
        display: flex;
        gap: 5px;

        a{
            position: relative;
            z-index: 2;

            display: flex;
            justify-content: center;
            align-items: center;
            gap: 12px;

            height: 48px;
            padding: 12px 18px;

            border-radius: 39px;
            background: rgba(30, 30, 30, 0.04);
            color: var(--secondary-color);
            font-weight: 600;

            transition: background 0.5s;

            img.fill{
                display: none;
            }
        }
        a.enabled{
            img.fill{
                display: flex;
            }
            img.outline{
                display: none;
            }
        }
        .contact{
            gap: 36px;
            background-color: var(--accent-color);
            color: var(--background-color);
            .img-wrapper{
                position: relative;
                width: 16px;
                height: 16px;
                img{
                    position: absolute;
                }
                .second{
                    opacity: 0;
                }
            }
        }


        a::after{
            content: '';
            position: absolute;
            z-index: -1;
            
            width: 100%;
            height: 100%;

            background: rgba(30, 30, 30, 0.08);
            border-radius: 64px;

            transition: padding 0.3s, opacity 0.3s;
            opacity: 0;
        }
        a.contact::after{
            background-color: var(--accent-color);
            opacity: 1;
        }

        a:hover::after{
            padding: 5px;
            opacity: 1;

            transition: padding 0.3s, opacity 0s;
        }
        a:hover{
            background: transparent;
            transition: background 0s;
        }
        .contact{
            .img-wrapper{
                transition: 1.6s cubic-bezier(0.075, 0.82, 0.165, 1);
                .first, .second{
                    transition: opacity 0.2s 0.2s;
                }
            }
        }
        .contact:hover{
            .img-wrapper{
                transform: rotateY(360deg);
                scale: 1.1;
                .first{
                    opacity: 0;
                }
                .second{
                    opacity: 1;
                }
            }
        }
        a:active { 
            opacity: 0.5;
        }
    }
}
header.scrolled{
    width: calc(100% - 56px - 56px);
    margin: 0 56px;
    margin-top: 24px;
    background-color: #FFFFFF;
}

.header-gap{
    height: 96px;
    pointer-events: none;
}



footer{
    display: flex;
    flex-direction: column;

    width: 100%;
    padding-top: 48px;

    background: linear-gradient(180deg, #F4EDFF 0%, #5F00FF 100%);

    .legal{
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 32px 76px 48px 76px;
        width: 100%;

        a, p{
            color: white !important;

            font-size: 20px;
        }
        a{
            padding: 8px 14px;
            border-radius: 32px;

            text-decoration-line: underline;
            text-decoration-style: solid;
            text-decoration-skip-ink: all;
            text-decoration-thickness: 1px;
            text-underline-offset: 1px;
            text-underline-position: from-font;
            text-decoration-color: #FFFFFF70;

            transition: background-color 0.3s, text-decoration-color 0.2s;
        }
        a:hover{
            text-decoration-color: transparent;

            background-color: var(--accent-color);
        }
    }
}







.page{
    display: flex;
    flex-direction: column;
    gap: 32px;

    width: 100%;
    /* overflow: hidden; */

    padding: var(--padding-vertical) var(--padding-horizontal);
    color: var(--primary-color);

    h1{
        font-size: 48px;
        font-weight: 400;
        span{
            color: var(--accent-color);
        }
    }
    h1.bold{
        font-size: 64px;
        font-weight: 600;
    }
    h2{
        font-size: 32px;
        font-weight: 400;
        b{
            font-weight: 600;
        }
    }
    h3{
        font-size: 20px;
        font-weight: 500;
    }
    h3.mono{
        max-width: 840px;

        color: var(--secondary-color);

        font-size: 16px;
        font-weight: 300;
        font-family: 'Martian Mono';
        line-height: 180%;
    }
    p{
        font-size: 14px;
        font-weight: 400;
        line-height: 140%;
    }
}


.page.hero{
    .wave-wrapper{
        display: flex;
        align-items: center;

        height: 300px;
        margin-left: calc( -1 * var(--padding-horizontal));
        padding-bottom: 64px;

        pointer-events: none;
        user-select: none;
        -webkit-user-drag: none;
        -webkit-user-select: none;
    }
}


.page.service{
    .card-wrapper{
        position: relative;
        display: flex;
        flex-direction: column;
    }
    .card{
        position: relative;
        display: flex;
        align-items: center;
        gap: 48px;

        width: 100%;
        padding: 12px 0;

        cursor: pointer;

        h1{
            color: var(--accent-color);
            font-weight: 400;
        }
        img{
            background-color: var(--accent-color);
            height: fit-content;

            transition: margin 0.3s, padding 0.4s;
        }
    }
    .card:hover{
        img{
            margin-left: -76px;
            padding-left: 76px;
        }
    }
    
        .absolute {
            position: absolute;
            z-index: 6;
    
            display: flex;
            gap: 28px;
            position: absolute;
            transition: none;
            top: 0;
            right: 0;
            max-width: 780px;
            width: 780px;
            padding: 18px 32px;
    
            background-color: var(--accent-color);
            color: var(--background-color);
    
            /* background-color: #5F00FF3f;
                    color: #5F00FF;
                    backdrop-filter: blur(32px); */
    
            font-family: "Martian Mono";
            font-size: 18px;
            font-weight: 300;
            line-height: 180%;
    
            font-size: 24px;
            line-height: 170%;

            opacity: 0.2;
            pointer-events: none;

            span {
                font-size: 32px;
                font-weight: 700;
            }
        }
}


.page.blog{
    .card-wrapper{
        display: flex;
        gap: 12px;
    }

    .card{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 21px;

        width: 450px;
        min-width: 350px;
        padding: 0 24px 24px 21px;

        border-radius: 12px;
        outline: 2px solid rgba(95, 0, 255, 0.12);
        color: var(--secondary-color);
        outline-offset: -2px;

        overflow: hidden;

        *{
            z-index: 5;
        }
        .text{
            display: flex;
            flex-direction: column;
            gap: 8px;
            p{
                opacity: 0.5;
            }
        }
        img{
            width: calc(100% + 21px + 21px + 3px);
            max-height: 380px;
            object-fit: cover;
            margin-left: -21px;
            margin-right: -21px;
        }
    }
    .card.gold{
        outline: 2px solid rgba(249, 216, 157, 0.4);
    }

    .card.subscribe{
        position: relative;
        display: flex;
        justify-content: flex-end;
        gap: 6px;

        max-width: 390px;
        min-width: 390px;

        background: linear-gradient(180deg, #F4EDFF 0%, #5F00FF 100%), #5F00FF;
        color: var(--background-color);

        overflow: hidden;
    }
    .card.subscribe::before{
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 50%;

        background: radial-gradient(75.52% 55.98% at 50% 100%, #5F00FF 0%, rgba(95, 0, 255, 0.00) 100%), linear-gradient(180deg, #5F00FF 0%, #5F00FF 100%), #5F00FF;
        border-radius: 512px;
        filter: blur(20px);

        opacity: 0.12;
        transform: translateY(440px) translate3d(-0px, 0, 120px);

        transition: opacity 1.2s, transform 1.8s ease-out, filter 2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }
    .card.subscribe:hover::before{
        opacity: 1;
        transform: initial;
        filter: blur(220px);
    }
    .card.subscribe::after{
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 50%;

        background: radial-gradient(75.52% 55.98% at 50% 100%, #5F00FF 0%, rgba(95, 0, 255, 0.00) 100%), linear-gradient(180deg, #5F00FF 0%, #5F00FF 100%), #5F00FF;
        border-radius: 512px;
        filter: blur(20px);

        opacity: 0.12;
        transform: translateY(500px) translate3d(-0px, 0, 120px);

        transition: opacity 1.3s, transform 2s ease-out, filter 2.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }
    .card.subscribe:hover::after{
        opacity: 1;
        transform: initial;
        filter: blur(220px);
    }
}

.scroll-x{
    overflow-x: auto;
    margin: 0 calc(-1 * var(--padding-horizontal));
    padding: 0 calc(var(--padding-horizontal));
}






::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: background 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.3);
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
}

html {
  scroll-behavior: smooth;
}





.page.loading{
    height: 80vh;
}
.loader {
  position: relative;
  padding-top: 100px;
  width: 40px;
  margin: auto;

  .circle {
    position: absolute;
    width: 38px;
    height: 38px;
    opacity: 0;
    transform: rotate(225deg);
    animation-iteration-count: infinite;
    animation-name: orbit;
    animation-duration: 5.5s;
    
    &:after {
      content: '';
      position: absolute;
      width: 5px;
      height: 5px;
      border-radius: 5px;
      background: var(--accent-color); /* Pick a color */
    }
    
    &:nth-child(2) {  animation-delay: 240ms; }
    &:nth-child(3) {  animation-delay: 480ms; }
    &:nth-child(4) {  animation-delay: 720ms; }
    &:nth-child(5) {  animation-delay: 960ms; }
  }
}

@keyframes orbit { 
  0%   { transform:rotate(225deg); opacity: 1;
         animation-timing-function: ease-out; } 
    
  7%   { transform:rotate(345deg);
         animation-timing-function: linear; }
    
  30%   { transform:rotate(455deg);
          animation-timing-function: ease-in-out; }
    
  39%   { transform:rotate(690deg);
          animation-timing-function: linear; }
    
  70%   { transform:rotate(815deg); opacity: 1;
         animation-timing-function: ease-out; }
    
  75%   { transform:rotate(945deg); 
         animation-timing-function: ease-out; }
    
  76% { transform:rotate(945deg); opacity: 0; }
  100% { transform:rotate(945deg); opacity: 0; } 
}