{% from "components/gtag/modal.j2" import google_modal %}
{% from "components/gtag/script.j2" import gtag_script %}
{% from "components/header_view.j2" import header_view %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>SeniWave – Web Development & Branding AI, AR | Dubai</title>
    <meta name="description" content="Dubai-based creative studio delivering full web development, branding, AI content, and AR experiences. We design, build, and launch digital products and websites for clients in Dubai and worldwide.">

    <meta property="og:url" content="https://seniwave.com/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="SeniWave — Web Development & Branding AI, AR | Dubai">
    <meta property="og:description" content="Dubai-based creative studio delivering full web development, branding, AI content, and AR experiences. We design, build, and launch digital products and websites for clients in Dubai and worldwide.">
    <meta property="og:image" content="https://seniwave.com/static/images/logos/og-image.png">

    <meta property="twitter:domain" content="seniwave.com">
    <meta property="twitter:url" content="https://seniwave.com/">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="SeniWave – Web Development & Branding AI, AR | Dubai">
    <meta name="twitter:description" content="Dubai-based creative studio delivering full web development, branding, AI content, and AR experiences. We design, build, and launch digital products and websites for clients in Dubai and worldwide.">
    <meta name="twitter:image" content="https://seniwave.com/static/images/logos/og-image.png">

    <link rel="icon" href="/static/favicon/fav.ico" sizes="48x48" type="image/x-icon">
    <link rel="icon" href="/static/favicon/fav.png" sizes="32x32" type="image/png">
    <link rel="apple-touch-icon" href="/static/favicon/fav.png" sizes="48x48">
    <link rel="icon" href="/static/favicon/fav.svg" type="image/svg+xml">

    {{ gtag_script() }}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/SplitText.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    
    <script src="/static/scripts/anims.js"></script>
    <script type="module" src="/static/scripts/waveRenderer.js"></script>
    <script type="module" src="/static/scripts/router.js"></script>

    <style>
        /* css for cls improvments */
        :root{--accent-color:#5F00FF;--primary-color:#000000;--secondary-color:#1E1E1E;--background-color:#F7F2FF;--padding-horizontal:76px;--padding-vertical:56px;}
        body{width:100vw;max-width:100vw;margin:0;padding:0;background-color:var(--background-color);font-family:'Manrope';-webkit-font-smoothing:antialiased;overflow-x:hidden;overflow-y:scroll;}
        header{position:fixed;z-index:100;display:flex;justify-content:space-between;width:calc(100% - var(--padding-horizontal) - var(--padding-horizontal) + 16px);height:64px;margin:0 calc(var(--padding-horizontal) - 8px);margin-top:24px;padding:8px;border-radius:32px;transition:margin 0.3s,width 0.3s,border-radius 0.3s;}
        .header-gap{height:96px;pointer-events:none;}
        canvas{z-index:2;pointer-events:none;position:absolute;opacity:0.4;margin-top:0;top:40vh;mask-image:linear-gradient(to bottom,rgba(0,0,0,1),rgba(0,0,0,0));user-select:none;-webkit-user-drag:none;-webkit-user-select:none;overflow:visible;will-change:contents;}
    </style>
    <link rel="stylesheet" href="/static/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Martian+Mono:wght@100..800&display=swap" rel="stylesheet">

    <link href="/static/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        $(document).ready(function() {
            if (typeof AOS !== 'undefined') {
                AOS.init();
            }
        });
    </script>
</head>

<body>
    {{ google_modal() }}

    {{ header_view() }}

    <div class="header-gap"></div>

    <canvas id="canvas" height="550px"></canvas>

    <div id="content">
        <div class="page loading">
            <div class="loader">
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
            </div>
        </div>
    </div>
    
    <footer>
        <div class="footer-wrapper">
            <div class="content-wrapper">
                <p class="mono">We are a full-service creative agency, building and launching brands and digital products—always with a business mindset.</p>
                <div class="links">
                    <p>Navigate</p>
                    <a href="/home" data-page="home">Home</a>
                    <a href="/team" data-page="team">Team</a>
                    <a href="/pricing" data-page="pricing">Pricing</a>
                    <a href="/home#blog" data-page="home#blog">Blog</a>
                    <a href="/works" data-page="works">Works</a>
                </div>
                <div class="links">
                    <p>Services</p>
                    <a href="services/branding" data-page="services/branding">Branding</a>
                    <a href="services/design" data-page="services/design">Design System</a>
                    <a href="services/web" data-page="services/web">Web Development</a>
                    <a href="services/animation" data-page="services/animation">3D, AR and AI Animation</a>
                </div>
                <div class="links">
                    <p>Contact</p>
                    <a href="https://wa.me/971585820390" target="_blank">Whatsapp</a>
                    <a href="https://t.me/seniwave" target="_blank">Telegram</a>
                    <a href="mailto:info@seniwave.com" target="_blank">Email</a>
                </div>
            </div>
            
            <img class="footer-logo" src="/static/images/logos/footer.svg" alt="SeniWave">

        </div>
        <div class="legal">
            <p>All Rights Reserved ©2024-2025</p>
            <div class="flex">
                <a class="link" href="/privacy" data-page="privacy">Privacy Policy</a>
                <a class="link" href="/terms" data-page="terms">Terms of Use</a>
                <a href="#" id="manage-cookies-link">Manage cookies</a>
            </div>
        </div>
    </footer>
</body>

<script>
    $(window).scroll(function () {
        const themeMetaTag = document.querySelector('meta[name="theme-color"]');
        const isSmallScreen = window.innerWidth <= 580;
        const isScrolled = $(this).scrollTop() > 0;
        const pathName = window.location.pathname;

        $('header').toggleClass('scrolled', isScrolled);

        // работает только на сафари :(
        if (themeMetaTag) {
            let newColor;

            if (path.startsWith('/works')) {
                newColor = '#1e1e1e';
            } else if (isSmallScreen) {
                newColor = isScrolled ? '#ffffff' : '#F7F2FF';
            } else {
                newColor = '#F7F2FF';
            }

            themeMetaTag.setAttribute('content', newColor);
        }
    });

    $(document).ready(function () {
        $(window).scroll();

        $(document).on('click', '.with-popup', function (e) {
            if ($(e.target).closest('.close-popup').length) return;
            $('.with-popup').not(this).removeClass('active');
            $(this).addClass('active');
        });

        $(document).on('click', '.with-popup .close-popup', function (e) {
            e.stopPropagation();
            $(this).closest('.with-popup').removeClass('active');
        });
    });
</script>

</html>