<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SeniWave</title>
    
    <script type="module" src="https://lbvo.ru/utils/init.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="static/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Martian+Mono:wght@100..800&display=swap" rel="stylesheet">

    <link rel="icon" href="/static/favicon/fav.svg" type="image/svg+xml">
    <link rel="icon" href="/static/favicon/fav.ico" sizes="48x48" type="image/x-icon">
    <link rel="icon" href="/static/favicon/fav.png" sizes="32x32" type="image/png">
    <link rel="apple-touch-icon" href="/static/favicon/fav.png" sizes="48x48">
</head>
<body>
    <header>
        <a class="logo" href="#" data-page="home">
            <img src="static/images/logos/header.svg" alt="SeniWave Logo">
        </a>
        <div class="link-wr">
            <a class="after-bg" href="/home" data-page="home" id="home" class="enabled">
                Home
                <img class="outline" src="static/images/icons/home.svg" alt="Active home image">
                <img class="fill" src="static/images/icons/home-fill.svg" alt="Active home image">
            </a>
            <a class="after-bg" href="/team" data-page="team" id="team">
                Team
                <img class="outline" src="static/images/icons/team.svg" alt="Team image">
                <img class="fill" src="static/images/icons/team-fill.svg" alt="Active team image">
            </a>
            <a class="after-bg" href="https://medium.com/@SeniWave" target="_blank">
                Blog
                <img src="static/images/icons/blog.svg" alt="">
            </a>
            <a class="after-bg" href="/works" data-page="works" id="works">
                Works
                <img class="outline" src="static/images/icons/works.svg" alt="Works image">
                <img class="fill" src="static/images/icons/works-fill.svg" alt="Active works image">
            </a>
            <div class="with-popup after-bg">
                <div class="head">
                    Menu
                    <img class="first" src="static/images/icons/menu.svg">
                </div>
                <div class="popup">
                    <div class="absolute-head close-popup">
                        Menu
                        <div class="img-wrapper">
                            <img class="first" src="static/images/icons/menu.svg">
                            <img class="second" src="static/images/icons/close.svg">
                        </div>
                    </div>
                    <div class="info-wr">
                        <a href="" class="info">
                            <h3>Home</h3>
                            <p></p>
                        </a>
                        <a href="https://t.me/seniwave" class="info">
                            <h3>Team</h3>
                            <p></p>
                        </a>
                        <a class="info" href="mailto:info@seniwave.com">
                            <h3>Blog</h3>
                            <p></p>
                        </a>
                        <a class="info" href="mailto:info@seniwave.com">
                            <h3>Works</h3>
                            <p></p>
                        </a>
                    </div>

                    <div class="legal-mini">
                        <p>All Rights Reserved ©2024-2025</p>
                        <a href="/legal">Privacy Policy</a>
                    </div>
                </div>
            </div>
            <div class="with-popup contact">
                <div class="head">
                    Get in touch
                    <div class="img-wrapper">
                        <img class="first" src="static/images/icons/contact.svg">
                        <img class="second" src="static/images/icons/message.svg">
                    </div>
                </div>
                <div class="popup">
                    <div class="absolute-head close-popup">
                        Let's talk
                        <div class="img-wrapper">
                            <img class="first" src="static/images/icons/message.svg">
                            <img class="second" src="static/images/icons/close.svg">
                        </div>
                    </div>
                    <button class="book">
                        Book a consultation
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="27" viewBox="0 0 24 27" fill="none">
                            <path d="M7.38477 1.90039V6.70039M16.9848 1.90039V6.70039M1.38477 11.5004H22.9848M10.6848 15.5976H12.1848V21.5976M10.6848 21.5976H13.6848M7.14477 25.9004H17.2248C19.241 25.9004 20.249 25.9004 21.0191 25.508C21.6965 25.1629 22.2472 24.6121 22.5924 23.9348C22.9848 23.1647 22.9848 22.1566 22.9848 20.1404V10.0604C22.9848 8.0442 22.9848 7.03611 22.5924 6.26602C22.2472 5.58864 21.6965 5.03791 21.0191 4.69277C20.249 4.30039 19.241 4.30039 17.2248 4.30039H7.14477C5.12858 4.30039 4.12048 4.30039 3.3504 4.69277C2.67302 5.03791 2.12229 5.58864 1.77714 6.26602C1.38477 7.03611 1.38477 8.0442 1.38477 10.0604L1.38477 20.1404C1.38477 22.1566 1.38477 23.1647 1.77714 23.9348C2.12229 24.6121 2.67302 25.1629 3.3504 25.508C4.12048 25.9004 5.12858 25.9004 7.14477 25.9004Z" stroke="white" stroke-width="1.95" stroke-linecap="square"/>
                        </svg>
                    </button> 
                    <div class="info-wr">
                        <a href="https://wa.me/971585820390" class="info">
                            <h3>Whatsapp</h3>
                            <p>+971 58 582 0390</p>
                        </a>
                        <a href="https://t.me/seniwave" class="info">
                            <h3>Telegram</h3>
                            <p>@seniwave</p>
                        </a>
                        <a class="info" href="mailto:info@seniwave.com">
                            <h3>Email</h3>
                            <p>info@seniwave.com</p>
                        </a>
                    </div>

                    <div class="legal-mini">
                        <p>All Rights Reserved ©2024-2025</p>
                        <a href="/legal">Privacy Policy</a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <script>
        $(document).on('click', '.with-popup', function(e) {
            if ($(e.target).closest('.close-popup').length) return;

            $(this).addClass('active');
        });

        $(document).on('click', '.with-popup .close-popup', function(e) {
            e.stopPropagation();
            $(this).closest('.with-popup').removeClass('active');
        });
    </script>

    <div class="header-gap"></div>

    <div id="content">
        <div class="page loading">
            <div class="loader">
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
            </div>
        </div>
        <style>
            
        </style>
    </div>

    <footer>
        <img src="static/images/footer.svg">
        <div class="legal">
            <p>All Rights Reserved ©2024-2025</p>
            <a href="/legal">Privacy Policy</a>
        </div>
    </footer>
    <script>
        $(window).scroll(function() {
            if ($(this).scrollTop() > 0) {
                $('header').addClass('scrolled');
            } else {
                $('header').removeClass('scrolled');
            }
        });
    </script>
    <script>
        $(document).ready(function() {
            function loadPage(page) {
                $.get(`pages/${page}.html`, function(data) {
                    $("#content").html(data);
                    history.pushState({ page }, "", `/${page}`);
                    window.scrollTo(0, 0);
                    $("[id]").removeClass("enabled");
                    $(`#${page}`).addClass("enabled");
                    $("body").addClass(page).removeClass("home team blog contact");
                }).fail(function() {
                    $("#content").html("<h1>Ошибка 404</h1>");
                });
            }

            loadPage("home");
             
            $("a[data-page]").click(function(e) {
                e.preventDefault();
                const page = $(this).data("page");
                loadPage(page);
                // Add the class to the body element
                $("body").addClass(page).removeClass("home team blog contact works");
            });

            $(window).on("popstate", function(e) {
                if (e.originalEvent.state?.page) {
                    loadPage(e.originalEvent.state.page);
                }
            });

            const path = window.location.pathname.slice(1);
            loadPage(path || "home");
        });
    </script>
</body>
</html>