{% macro header_view() %}

<header>
    <a class="logo" href="/home" data-page="home">
        <img src="/static/images/logos/header.svg" alt="SeniWave Logo">
    </a>
    <div class="link-wr">
        <a class="link after-bg" href="/home" data-page="home" id="home" class="enabled">
            Home
            <img class="outline" src="/static/images/icons/home.svg" alt="Active home image">
            <img class="fill" src="/static/images/icons/home-fill.svg" alt="Active home image">
        </a>
        <a class="link after-bg" href="/team" data-page="team" id="team">
            Team
            <img class="outline" src="/static/images/icons/team.svg" alt="Team image">
            <img class="fill" src="/static/images/icons/team-fill.svg" alt="Active team image">
        </a>
        <a class="link after-bg" href="/pricing" data-page="pricing" id="pricing">
            Pricing
            <img class="outline" src="/static/images/icons/price.svg" alt="Pricing image">
            <img class="fill" src="/static/images/icons/price-fill.svg" alt="Active pricing image">
        </a>
        <a class="link after-bg" href="/home#blog">
            Blog
            <img src="/static/images/icons/blog.svg" alt="">
        </a>
        <a class="link after-bg" href="/works" data-page="works" id="works">
            Works
            <img class="outline" src="/static/images/icons/works.svg" alt="Works image">
            <img class="fill" src="/static/images/icons/works-fill.svg" alt="Active works image">
        </a>
    </div>
    <div class="link-wr">
        <div class="with-popup after-bg fill menu">
            <div class="head">
                <span>Menu</span>
                <img class="first invert-on-works" src="/static/images/icons/menu.svg">
            </div>
            <div class="popup">
                <div class="absolute-head close-popup">
                    Menu
                    <div class="img-wrapper">
                        <img class="first" src="/static/images/icons/menu.svg">
                        <img class="second" src="/static/images/icons/close.svg">
                    </div>
                </div>
                <div class="info-wr">
                    <a class="info" href="/home" data-page="home" id="home" class="enabled">
                        <h3>Home</h3>
                    </a>
                    <a class="info" href="/team" data-page="team" id="team">
                        <h3>Story</h3>
                    </a>
                    <a class="info" href="/pricing" data-page="pricing" id="pricing">
                        <h3>Pricing</h3>
                    </a>
                    <a class="info" href="https://medium.com/@SeniWave" target="_blank">
                        <h3>Blog</h3>
                        <p class="invisible">redirects to Medium</p>
                    </a>
                    <a class="info" href="/works" data-page="works" id="works">
                        <h3>Works</h3>
                    </a>
                </div>
                <div class="legal-mini">
                    <p>All Rights Reserved ©2024-2025</p>
                    <a href="/legal">Privacy Policy</a>
                </div>
            </div>
        </div>
        <div class="with-popup after-bg contact">
            <div class="head">
                <span>Get in touch</span>
                <div class="img-wrapper">
                    <img class="first" src="/static/images/icons/contact.svg">
                    <img class="second" src="/static/images/icons/message.svg">
                </div>
            </div>
            <div class="popup">
                <div class="absolute-head close-popup">
                    Let's talk
                    <div class="img-wrapper">
                        <img class="first" src="/static/images/icons/message.svg">
                        <img class="second" src="/static/images/icons/close.svg">
                    </div>
                </div>
                <a href="https://book.seniwave.com/" class="book">
                    Book a consultation
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="36" viewBox="0 0 32 36" fill="none"><path d="M9.57568 2.09546V8.49546M22.3757 2.09546V8.49546M1.57568 14.8955H30.3757M13.9757 20.3584H15.9757V28.3584M13.9757 28.3584H17.9757M9.25568 34.0955H22.6957C25.3839 34.0955 26.7281 34.0955 27.7548 33.5723C28.658 33.1121 29.3923 32.3778 29.8525 31.4746C30.3757 30.4478 30.3757 29.1037 30.3757 26.4155V12.9755C30.3757 10.2872 30.3757 8.94308 29.8525 7.9163C29.3923 7.01313 28.658 6.27882 27.7548 5.81863C26.7281 5.29546 25.3839 5.29546 22.6957 5.29546H9.25568C6.56743 5.29546 5.22331 5.29546 4.19653 5.81863C3.29335 6.27882 2.55904 7.01313 2.09885 7.9163C1.57568 8.94308 1.57568 10.2872 1.57568 12.9755L1.57568 26.4155C1.57568 29.1037 1.57568 30.4478 2.09885 31.4746C2.55904 32.3778 3.29335 33.1121 4.19653 33.5723C5.22331 34.0955 6.56743 34.0955 9.25568 34.0955Z" stroke="white" stroke-width="2.6" stroke-linecap="square"/></svg>
                </a> 
                <div class="info-wr">
                    <a tabindex="0" href="https://wa.me/971585820390" class="info">
                        <h3>Whatsapp</h3>
                        <p>+971 58 582 0390</p>
                    </a>
                    <a tabindex="0" href="https://t.me/seniwave" class="info">
                        <h3>Telegram</h3>
                        <p>@seniwave</p>
                    </a>
                    <a tabindex="0" class="info" href="mailto:info@seniwave.com">
                        <h3>Email</h3>
                        <p>info@seniwave.com</p>
                    </a>
                </div>
                <div class="legal-mini">
                    <p>All Rights Reserved ©2024-2025</p>
                    <a href="/privacy">Privacy Policy</a>
                </div>
            </div>
        </div>
    </div>
</header>

{% endmacro %}